.accordion .collapse.in, .accordion [aria-expanded=true] {
    background: #169a19;
}

.btn-white-bg:hover {
    background: #169a19;
}
.header .nav-item-hover:hover {
	color: #169a19;
}

.page-on-scroll .header .nav-item-child:hover {
	color: #169a19;
}

.btn-theme-sm:hover {
	background: #169a19;
	border-color: #169a19;
}

.back-to-top.back-to-top-fade-out:hover {
    background: #169a19;
}

.back-to-top.back-to-top-is-visible:hover {
    background: #169a19;
}

a:hover {
	color: #169a19;
}

h1, h2, h3, h4, h5, h6 {
    	color: #169a19 !important;
}

.hidden-slider-dot .carousel-indicators .active {
    visibility: hidden;
}

.whitelink {
	color: white;
}

.whitelink:hover {
	color: #81848f;
}